asgiref==3.2.10
astroid==2.4.2
beautifulsoup4==4.9.3
confusable-homoglyphs==3.2.0
Django==2.1.4
django-bootstrap3==14.2.0
django-registration==2.4.1
django-tinymce==3.1.0
isort==5.5.4
lazy-object-proxy==1.4.3
mccabe==0.6.1
Pillow==7.2.0
psycopg2==2.8.6
pylint==2.6.0
pylint-django==2.3.0
pylint-plugin-utils==0.6
python-decouple==3.3
pytz==2020.1
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
toml==0.10.1
wrapt==1.12.1
